{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
  background-color: #2274A5;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


.button{
   margin-left:43vw;
   margin-top: 4vh;
}

.w3-btn {width:200px;}

</style>
</head>
<body>
<ul>
  <li><a class="active" href="{% url 'event_list' %}">Home</a></li>
  <li><a href="{% url 'contact' %}">Contact</a></li>
</ul>

{% block detail %}

{% endblock %}


{% block register %}

{% endblock %}


{% block contact %}

{% endblock %}
</body>
</html>