{% if event %}
    {% for e in event %}
   <h2>Name:- {{ name }}</h2>
   <br>

   <h2>Description:- {{ description }}</h2>
   <br>

   <h2>Venue:- {{ venue }}</h2>
   <br>

   <h2>Time:- {{ time }}</h2>
   <br>

   <h2>Seats:- {{ seats }}</h2>
   <br>

   {% if avatar %}
   <img src="{{ avatar.url }}">
   {% endif %}
<br><br>

   {% if video %}
   <video width="320" height="240" controls>
    <source src="{{ video.url }}" type="video/mp4">
   </video>
   {% endif %}


   <h1><a href="{% url 'register' e_id=e.pk %}" style="text-decoration:none;">REGISTER</a></h1>

    {% endfor %}

{% else %}
    <p>NO EVENTS ARE AVAILABLE</p>
{% endif %}